flask
flask-cors
flask-sqlalchemy
flask-login
mysql-connector-python
pymysql
python-dotenv
gunicorn
cryptography
requests
PyJWT
Pillow
google-genai
scikit-learn
joblib
numpy
APScheduler
prometheus-flask-exporter